In [1]:
import pandas as pd
import numpy as np

In [2]:
dataframe=pd.read_csv("FullContacts.csv")

C:\Users\54357\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (23,62,64,66) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
dataframe.shape

(34669, 72)

In [4]:
dataframe.columns

Index(['Unnamed: 0', 'Contact Id', 'First Name', 'Last Name', 'Business Name',
       'Company Name', 'DND', 'Phone', 'Email', 'Created', 'Source', 'Type',
       'Updated', 'Last Activity', 'Last Appointment', 'Assigned',
       'Opportunity', 'Tags', 'Address (full)', 'Street address', 'City',
       'Postal Code', 'State', 'Birth Date', 'Offers', 'Workflows Active',
       'Products', 'Workflows Finished', 'Last pipe', 'Conversion from',
       'Date of Conversion', 'Time of Conversion', 'Conversion Type',
       'Country', 'Qualifying Question 8', 'Qualifying Question 6',
       'Event Type', 'Gender1', 'Qualifying Question 1',
       'Qualifying Question 5', 'Agent', 'Area', 'Requested Appointment Times',
       'State.1', 'Qualifying Question 3', 'Qualifying Question 9',
       'Qualifying Question 4', 'Conversion Event', 'SMS Sent', 'Industry',
       'Lead Offer', 'Additional Information', 'Timezone', 'Email Sent',
       'Call Attempts', 'Num of QQs', 'Qualifying Question 7',
       'Qualifying Question 2', 'Day Of Week', 'Aux for Power Dialer', 'Ad',
       'Last Note', 'Status Of Live Transfer', 'Status of Conversion',
       'Status of a Live Transfer', 'Type of conversion', 'Last Pipe',
       'Qualifying Questions 6', 'Conversion Event Type',
       'Qualifying Questions 7', 'Gender2', 'SubAccount'],
      dtype='object')

In [5]:
#armamos un liitado de las columnas que no nos sirven
bad_col=["Unnamed: 0","Business Name","Company Name","DND","Assigned","Address (full)",'Street address', 'City','Postal Code','Birth Date','Offers','Products',"Country","Industry","Lead Offer","Aux for Power Dialer"]

In [6]:
#dropeamos las columnas segun la lsita que armammos

dataframe_dropped=dataframe.drop(columns=bad_col)

In [7]:
dataframe_dropped.columns

Index(['Contact Id', 'First Name', 'Last Name', 'Phone', 'Email', 'Created',
       'Source', 'Type', 'Updated', 'Last Activity', 'Last Appointment',
       'Opportunity', 'Tags', 'State', 'Workflows Active',
       'Workflows Finished', 'Last pipe', 'Conversion from',
       'Date of Conversion', 'Time of Conversion', 'Conversion Type',
       'Qualifying Question 8', 'Qualifying Question 6', 'Event Type',
       'Gender1', 'Qualifying Question 1', 'Qualifying Question 5', 'Agent',
       'Area', 'Requested Appointment Times', 'State.1',
       'Qualifying Question 3', 'Qualifying Question 9',
       'Qualifying Question 4', 'Conversion Event', 'SMS Sent',
       'Additional Information', 'Timezone', 'Email Sent', 'Call Attempts',
       'Num of QQs', 'Qualifying Question 7', 'Qualifying Question 2',
       'Day Of Week', 'Ad', 'Last Note', 'Status Of Live Transfer',
       'Status of Conversion', 'Status of a Live Transfer',
       'Type of conversion', 'Last Pipe', 'Qualifying Questions 6',
       'Conversion Event Type', 'Qualifying Questions 7', 'Gender2',
       'SubAccount'],
      dtype='object')

In [8]:
#Armemos un subdataframe con los IDS, Ad, Day of week
df1=dataframe_dropped[["Contact Id","Ad","Day Of Week","Created","SubAccount"]]

In [9]:
df1

,Contact Id,Ad,Day Of Week,Created,SubAccount
0,nArxoCXglF8lOnKkoSw6,23851920354810131 - Image 3,NaN,2023-02-27T17:03:47-05:00,Aixa Landron Fatherson Realty Inc.
1,SfLXHxkO71Iq1Jdc6aNq,23851920354810131 - Image 3,NaN,2023-02-27T16:57:30-05:00,Aixa Landron Fatherson Realty Inc.
2,DMGExUPr4u4rmpCG7kNA,23851920354810131 - Image 4,NaN,2023-02-27T16:44:45-05:00,Aixa Landron Fatherson Realty Inc.
3,4xASg3FOpIiIl0k4CqV5,23851920354810131 - Image 3,NaN,2023-02-27T13:23:32-05:00,Aixa Landron Fatherson Realty Inc.
4,lguItn7qhV178WQ5RZ4H,23851920354810131 - Image 4,NaN,2023-02-27T13:07:33-05:00,Aixa Landron Fatherson Realty Inc.
...,...,...,...,...,...
34664,kV1QWQ0uRw6pf6hihntr,-,NaN,2022-12-02T12:36:07-05:00,Valeria Silva Realtor
34665,e5N0mVjuS2nI2zKyp4Ke,23852348700300789 - Image 3,NaN,2022-12-02T11:56:04-05:00,Valeria Silva Realtor
34666,uf9U9wSHmQNvt59yaEMP,23852348700300789 - Image 3,NaN,2022-12-02T10:27:56-05:00,Valeria Silva Realtor
34667,oYxRNv41uAfZBaAY3ZlU,-,NaN,2022-11-30T15:13:34-05:00,Valeria Silva Realtor
34668,J95OQm5LgaExVpqMYAjL,-,NaN,2022-11-30T15:12:29-05:00,Valeria Silva Realtor

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34669 entries, 0 to 34668
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Contact Id   34669 non-null  object
 1   Ad           34027 non-null  object
 2   Day Of Week  5444 non-null   object
 3   Created      34669 non-null  object
 4   SubAccount   34669 non-null  object
dtypes: object(5)
memory usage: 1.3+ MB

In [11]:
df1=df1.where(df1!=" - ")

In [12]:
df1=df1.dropna()

In [13]:
df1

,Contact Id,Ad,Day Of Week,Created,SubAccount
36,GfIb7uDhR0FBUseDT3vl,23851920354810131 - Image 3,Sunday,2023-02-19T20:22:34-05:00,Aixa Landron Fatherson Realty Inc.
44,iENBBbJtAJKWC10Xh8Zj,23851920354810131 - Image 4,Sunday,2023-02-18T20:58:19-05:00,Aixa Landron Fatherson Realty Inc.
132,Htd6IvZzfaAmWaTxrgGe,23851920354810131 - Image 4,Wednesday,2023-02-05T10:56:18-05:00,Aixa Landron Fatherson Realty Inc.
142,3paGVTpDIfsltMtYlaLr,23851920354810131 - Image 2,Wednesday,2023-02-03T07:29:20-05:00,Aixa Landron Fatherson Realty Inc.
146,cJMed4p3PJk3GX83oZrU,23851920354810131 - Image 2,Wednesday,2023-02-02T10:56:00-05:00,Aixa Landron Fatherson Realty Inc.
...,...,...,...,...,...
34637,QcvxbVPmBHsFk3keTP8Y,23852348700300789 - Image 2,Saturday,2022-12-03T09:23:45-05:00,Valeria Silva Realtor
34652,Hk0iR923FggWdxsRNkap,23852348700300789 - Image 3,Saturday,2022-12-02T18:47:25-05:00,Valeria Silva Realtor
34656,zob9C3A4b5AOqjXrWx6p,23852348700300789 - Image 2,Friday,2022-12-02T17:35:17-05:00,Valeria Silva Realtor
34657,xzqnbmQVohzhZFtKsS9v,23852348700300789 - Image 3,Saturday,2022-12-02T16:58:30-05:00,Valeria Silva Realtor
34660,0969i3dAkCozanMQKENt,23852348700300789 - Image 2,Friday,2022-12-02T15:05:14-05:00,Valeria Silva Realtor

In [14]:
resume = pd.pivot_table(df1,index=["SubAccount","Ad"],values="Contact Id",aggfunc=np.count_nonzero)

In [15]:
resume.head(20)

                                                                Contact Id
SubAccount                         Ad
 Realtor                           23852986928610683 - Image 1           3
                                   23852986928610683 - Image 2           8
                                   23852986928610683 - Image 4           6
Aixa Landron Fatherson Realty Inc. 23849781343700220 - Image 1          21
                                   23849781343700220 - Image 2          15
                                   23849781343700220 - Image 3           1
                                   23849781343700220 - Image 4           6
                                   23851920354810131 - Image 1           7
                                   23851920354810131 - Image 2           6
                                   23851920354810131 - Image 3           3
                                   23851920354810131 - Image 4          42
Alex Cordova                       23847590781720443 - Image 1          31
                                   23847590781720443 - Image 2          43
                                   23847590781720443 - Image 3           3
                                   23847590781720443 - Image 4          24
                                   23851755922530554 - Image 2           1
                                   23851755922530554 - Image 3           1
                                   23851867766320430 - Image 1          10
                                   23851867766320430 - Image 2          22
                                   23851867766320430 - Image 3           9

In [16]:
cxd=np.unique(df1["Ad"],return_counts=True)

In [17]:
len(cxd[1])

295

In [18]:
ConXAd=pd.DataFrame(cxd)

In [19]:
ConXAd=ConXAd.T

In [20]:
ConXAd=ConXAd.rename(columns={0:"Ad",1:"Conversions"})
ConXAd

                              Ad Conversions
0    23846502269490235 - Image 1          14
1    23846502269490235 - Image 2          16
2    23846502269490235 - Image 3           9
3    23846502269490235 - Image 4          13
4    23847344501350467 - Image 1         122
..                           ...         ...
290  23853453460240708 - Image 3           1
291  23854339548530734 - Image 1           1
292  23854339548530734 - Image 2           1
293  23854393358630734 - Image 1           8
294  23854393358630734 - Image 3           2

[295 rows x 2 columns]

In [21]:
np.sum(ConXAd["Conversions"])

5159

In [22]:
#necesito un DF que solo tenga al Ad con su respectiva cuenta
df2=df1[["Ad","SubAccount"]]

In [23]:
df2

                                Ad                          SubAccount
36     23851920354810131 - Image 3  Aixa Landron Fatherson Realty Inc.
44     23851920354810131 - Image 4  Aixa Landron Fatherson Realty Inc.
132    23851920354810131 - Image 4  Aixa Landron Fatherson Realty Inc.
142    23851920354810131 - Image 2  Aixa Landron Fatherson Realty Inc.
146    23851920354810131 - Image 2  Aixa Landron Fatherson Realty Inc.
...                            ...                                 ...
34637  23852348700300789 - Image 2               Valeria Silva Realtor
34652  23852348700300789 - Image 3               Valeria Silva Realtor
34656  23852348700300789 - Image 2               Valeria Silva Realtor
34657  23852348700300789 - Image 3               Valeria Silva Realtor
34660  23852348700300789 - Image 2               Valeria Silva Realtor

[5159 rows x 2 columns]

In [24]:
df2=df2.drop_duplicates()

In [25]:
df2

                                Ad                          SubAccount
36     23851920354810131 - Image 3  Aixa Landron Fatherson Realty Inc.
44     23851920354810131 - Image 4  Aixa Landron Fatherson Realty Inc.
142    23851920354810131 - Image 2  Aixa Landron Fatherson Realty Inc.
439    23851920354810131 - Image 1  Aixa Landron Fatherson Realty Inc.
899    23849781343700220 - Image 2  Aixa Landron Fatherson Realty Inc.
...                            ...                                 ...
34101  23852610079770430 - Image 1               Valeria Silva Realtor
34491  23852610079770430 - Image 3               Valeria Silva Realtor
34497  23852348700300789 - Image 2               Valeria Silva Realtor
34501  23852348700300789 - Image 3               Valeria Silva Realtor
34573  23852348700300789 - Image 1               Valeria Silva Realtor

[299 rows x 2 columns]

In [26]:
ConXAd_Acc=ConXAd.merge(df2, on=["Ad"], how="left")

In [27]:
ConXAd_Acc

                              Ad Conversions                        SubAccount
0    23846502269490235 - Image 1          14                     Sueños Unidos
1    23846502269490235 - Image 2          16                     Sueños Unidos
2    23846502269490235 - Image 3           9                     Sueños Unidos
3    23846502269490235 - Image 4          13                     Sueños Unidos
4    23847344501350467 - Image 1         122  Keller Williams Preferred Realty
..                           ...         ...                               ...
294  23853453460240708 - Image 3           1                Century 21 Masters
295  23854339548530734 - Image 1           1             United Freedom Realty
296  23854339548530734 - Image 2           1             United Freedom Realty
297  23854393358630734 - Image 1           8             United Freedom Realty
298  23854393358630734 - Image 3           2             United Freedom Realty

[299 rows x 3 columns]

In [28]:
Sueños=ConXAd_Acc[ConXAd_Acc["SubAccount"]=="Sueños Unidos"]

In [29]:
ConXAd_Acc[ConXAd_Acc["SubAccount"]=="Sueños Unidos"].sort_values("Conversions", ascending=False)[0:4]   #esto me da la listita de los 4 ads que mas conversion dieron

                             Ad Conversions     SubAccount
9   23847418475480235 - Image 1          68  Sueños Unidos
23  23847702975130235 - Image 4          58  Sueños Unidos
10  23847418475480235 - Image 2          50  Sueños Unidos
11  23847418475480235 - Image 3          49  Sueños Unidos

In [30]:
ConXAd_Acc["SubAccount"].unique()

array(['Sueños Unidos', 'Keller Williams Preferred Realty',
       'Alex Cordova', 'David Torres', 'Iowa Compra y Venta de Casas',
       'Mariela Martinez', 'Gustavo Lopez', 'Lady Martinez',
       'Lake Michigan Realty Management', 'Milton Arroyo',
       'Aixa Landron Fatherson Realty Inc.', 'Casa Soñada KC',
       'Burnes International', 'RazrGroup', 'Art Mendoza Realtor',
       'Cardinal Financial Company', 'Jesus Century 21 Powerhouse Realty',
       'RE/MAX ONE PALMDALE', 'Ruth - Campos International Group',
       'Miguel Hawkins Prestamista con Homestar',
       'Ricardo Ruiz - GK Properties',
       'Epifanio Almodovar The Federal Savings Bank',
       'Compra Casas en Tampa', 'Campos International Group - Maryland',
       'Stephanie Barreto', 'RAD Real Estate', 'Valeria Silva Realtor',
       'H&T Properties', 'Francisco J. Cuza Mortgage Advisor',
       'Gladis Madrid', 'Jennifer Toledo', 'Claudia White e Yvette Garay',
       'Derly Alvarez', 'Ulices Melendez con Alliance Real Estate',
       'PrimeTime Realtors', 'Ruben Regalado Care Real Estate',
       'Grace Meza - Caddell', 'Brett Baird - H&T Properties',
       'Ruben Marron Broker',
       "Martha Turner Sotheby's International Realty",
       'Owner Financing Houston', 'Rivera Realty', 'Belén Alcaraz Team',
       'Juan Celedon Real Estate', ' Realtor', 'Miguel Perez Realtor',
       'Leslie Garcia', 'Blanca Cativo', 'Century 21 Masters',
       'United Freedom Realty'], dtype=object)

In [31]:
lista_final=[]

In [32]:
for Acc in ConXAd_Acc["SubAccount"].unique():
    lista_final.append((ConXAd_Acc[ConXAd_Acc["SubAccount"]==str(Acc)].sort_values("Conversions", ascending=False)[0:4]))

In [33]:
END=pd.concat(lista_final)

In [34]:
END

                              Ad Conversions                        SubAccount
9    23847418475480235 - Image 1          68                     Sueños Unidos
23   23847702975130235 - Image 4          58                     Sueños Unidos
10   23847418475480235 - Image 2          50                     Sueños Unidos
11   23847418475480235 - Image 3          49                     Sueños Unidos
5    23847344501350467 - Image 2         207  Keller Williams Preferred Realty
..                           ...         ...                               ...
294  23853453460240708 - Image 3           1                Century 21 Masters
297  23854393358630734 - Image 1           8             United Freedom Realty
298  23854393358630734 - Image 3           2             United Freedom Realty
295  23854339548530734 - Image 1           1             United Freedom Realty
296  23854339548530734 - Image 2           1             United Freedom Realty

[180 rows x 3 columns]

In [35]:
END.to_csv("Convs por Ads.csv") #este archivo me dice los mejores 4 anuncios de cada cuenta

In [36]:
#Ahora quiero hacer el mismo archivo pero que tenga el total de leads creados mediante ese anuncio y el conversion rate de cada anuncio

#CAMINO 
#Volver a hacer el análisis de datos pero incluyendo a este dato
#Al archivo full contacts debería agregarle PHONE y EMAIL para filtrar los verdaderos leads
#Teniendo el "full leads" limpio las filas que no tengan Ad
#Agrego una columna Converted? que diga si fue covnertido o no (en el curso hay una parte que clasifica las filas del restaurante)
#Entonces me quedo con un DF que tenga: ID, Ad, SubAccount y Converted?
#Con este Dataframe hago el analisis de datos:
                        #contar la cantidad de conversions (hecho, sólo tengo que rehacer)
                        #contar la cantidad de leads (copiarme del punto anterior)
                        #un merge con la SubAccount, el Ad, conversions, leads, 
                        #al df anterior le agrego un conversion rate calculado de converions/leads

# Ahora hacemos el mismo analisis pero agregando el conversion rate

In [ ]:
dataframe

In [42]:
df11=dataframe_dropped[["Contact Id","Ad","Phone","Email","Day Of Week","Created","SubAccount"]]

In [43]:
df11

,Contact Id,Ad,Phone,Email,Day Of Week,Created,SubAccount
0,nArxoCXglF8lOnKkoSw6,23851920354810131 - Image 3,1.239675e+10,jiankarlo1315@gmail.com,NaN,2023-02-27T17:03:47-05:00,Aixa Landron Fatherson Realty Inc.
1,SfLXHxkO71Iq1Jdc6aNq,23851920354810131 - Image 3,1.862239e+10,bonillaelizaul@gmail.com,NaN,2023-02-27T16:57:30-05:00,Aixa Landron Fatherson Realty Inc.
2,DMGExUPr4u4rmpCG7kNA,23851920354810131 - Image 4,1.786388e+10,iglesiasmanuel1985@gmail.com,NaN,2023-02-27T16:44:45-05:00,Aixa Landron Fatherson Realty Inc.
3,4xASg3FOpIiIl0k4CqV5,23851920354810131 - Image 3,1.786643e+10,arnaldodiaz110388@gmail.com,NaN,2023-02-27T13:23:32-05:00,Aixa Landron Fatherson Realty Inc.
4,lguItn7qhV178WQ5RZ4H,23851920354810131 - Image 4,1.239201e+10,yodelki@yahoo.com,NaN,2023-02-27T13:07:33-05:00,Aixa Landron Fatherson Realty Inc.
...,...,...,...,...,...,...,...
34664,kV1QWQ0uRw6pf6hihntr,-,NaN,NaN,NaN,2022-12-02T12:36:07-05:00,Valeria Silva Realtor
34665,e5N0mVjuS2nI2zKyp4Ke,23852348700300789 - Image 3,1.402322e+10,josselinlopez9137@gmail.com,NaN,2022-12-02T11:56:04-05:00,Valeria Silva Realtor
34666,uf9U9wSHmQNvt59yaEMP,23852348700300789 - Image 3,1.402591e+10,ponyceballos@gmail.com,NaN,2022-12-02T10:27:56-05:00,Valeria Silva Realtor
34667,oYxRNv41uAfZBaAY3ZlU,-,1.980226e+10,ara@muend.co,NaN,2022-11-30T15:13:34-05:00,Valeria Silva Realtor
34668,J95OQm5LgaExVpqMYAjL,-,1.832843e+10,NaN,NaN,2022-11-30T15:12:29-05:00,Valeria Silva Realtor

In [ ]:
#crear la columande convertido (SI/NO)
#eliminar la columna de Day of Week
#pasar los anuncios vacios " - " a NaN
#dropna

In [87]:
df11["Convertido"]=np.where((df11["Day Of Week"]!="Saturday")&(df11["Day Of Week"]!="Sunday")&(df11["Day Of Week"]!="Friday")&(df11["Day Of Week"]!="Monday")&(df11["Day Of Week"]!="Tuesday")&(df11["Day Of Week"]!="Wednesday")&(df11["Day Of Week"]!="Thursday"),"NO","SI")
df11.tail(20)

C:\Users\54357\AppData\Local\Temp/ipykernel_19684/3949665522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11["Convertido"]=np.where((df11["Day Of Week"]!="Saturday")&(df11["Day Of Week"]!="Sunday")&(df11["Day Of Week"]!="Friday")&(df11["Day Of Week"]!="Monday")&(df11["Day Of Week"]!="Tuesday")&(df11["Day Of Week"]!="Wednesday")&(df11["Day Of Week"]!="Thursday"),"NO","SI")

,Contact Id,Ad,Phone,Email,Day Of Week,Created,SubAccount,Convertido,Convertid
34649,YD0OWGsH2Zv2WA0L7pwH,23852348700300789 - Image 3,1.681205e+10,magdalenagamboa59@gmail.com,NaN,2022-12-02T19:58:17-05:00,Valeria Silva Realtor,NO,SI
34650,MtYyjr8vRY7KbNwbffTn,-,NaN,valeriasilva.realtor@gmail.com,NaN,2022-12-02T19:02:20-05:00,Valeria Silva Realtor,NO,SI
34651,OvepiH275rSLeGRVRFp3,-,NaN,support@latinleads.co,NaN,2022-12-02T19:02:18-05:00,Valeria Silva Realtor,NO,SI
34652,Hk0iR923FggWdxsRNkap,23852348700300789 - Image 3,1.531215e+10,maria.espinoza.arroyo.1974@gmail.com,Saturday,2022-12-02T18:47:25-05:00,Valeria Silva Realtor,SI,SI
34653,FGKgruy2NZKWRlVkvqEp,23852348700300789 - Image 2,1.531239e+10,navarretemodesto0@gmail.com,NaN,2022-12-02T18:31:31-05:00,Valeria Silva Realtor,NO,SI
34654,bARy92DJf2fuApExBgyK,23852348700300789 - Image 3,1.402254e+10,tercero488@gmail.com,NaN,2022-12-02T17:58:28-05:00,Valeria Silva Realtor,NO,SI
34655,UBJ2plf6cyx37UTAA3CU,-,1.402810e+10,NaN,NaN,2022-12-02T17:35:31-05:00,Valeria Silva Realtor,NO,SI
34656,zob9C3A4b5AOqjXrWx6p,23852348700300789 - Image 2,1.402973e+10,anachavez275150925@gmail.com,Friday,2022-12-02T17:35:17-05:00,Valeria Silva Realtor,SI,SI
34657,xzqnbmQVohzhZFtKsS9v,23852348700300789 - Image 3,1.609943e+10,silvia.contreras09az@gmail.com,Saturday,2022-12-02T16:58:30-05:00,Valeria Silva Realtor,SI,SI
34658,ZmVuCjBgCMR53XyYwhsy,23852348700300789 - Image 2,1.531211e+10,sancheziris957@gmail.com,NaN,2022-12-02T16:02:38-05:00,Valeria Silva Realtor,NO,SI
34659,twktCMeBjjzJCGWIs4yr,23852348700300789 - Image 2,1.402715e+10,mayra.flores905@gmail.com,NaN,2022-12-02T16:02:27-05:00,Valeria Silva Realtor,NO,SI
34660,0969i3dAkCozanMQKENt,23852348700300789 - Image 2,1.402810e+10,cinthyacastillo07@hotmill.com,Friday,2022-12-02T15:05:14-05:00,Valeria Silva Realtor,SI,SI
34661,c1V2vithegs7sThtZAHe,23852348700300789 - Image 3,1.402918e+10,marioenciso632@yahoo.com,NaN,2022-12-02T14:12:17-05:00,Valeria Silva Realtor,NO,SI
34662,SCgdFNCIZHJffqq2cYZN,23852348700300789 - Image 3,1.402239e+10,adrielayala2014@icloud.com,NaN,2022-12-02T13:47:56-05:00,Valeria Silva Realtor,NO,SI
34663,WAVL5olLuJfjMbyfs9C6,23852348700300789 - Image 3,1.402805e+10,speedyloca79@gmail.com,NaN,2022-12-02T13:21:30-05:00,Valeria Silva Realtor,NO,SI
34664,kV1QWQ0uRw6pf6hihntr,-,NaN,NaN,NaN,2022-12-02T12:36:07-05:00,Valeria Silva Realtor,NO,SI
34665,e5N0mVjuS2nI2zKyp4Ke,23852348700300789 - Image 3,1.402322e+10,josselinlopez9137@gmail.com,NaN,2022-12-02T11:56:04-05:00,Valeria Silva Realtor,NO,SI
34666,uf9U9wSHmQNvt59yaEMP,23852348700300789 - Image 3,1.402591e+10,ponyceballos@gmail.com,NaN,2022-12-02T10:27:56-05:00,Valeria Silva Realtor,NO,SI
34667,oYxRNv41uAfZBaAY3ZlU,-,1.980226e+10,ara@muend.co,NaN,2022-11-30T15:13:34-05:00,Valeria Silva Realtor,NO,SI
34668,J95OQm5LgaExVpqMYAjL,-,1.832843e+10,NaN,NaN,2022-11-30T15:12:29-05:00,Valeria Silva Realtor,NO,SI

In [92]:
prueba1=np.unique(df11["Day Of Week"],return_counts=True)

TypeError: '<' not supported between instances of 'float' and 'str'

In [89]:
prueba

(array(['NO', 'SI'], dtype=object), array([29225,  5444], dtype=int64))

# TEST

In [37]:
test=pd.DataFrame({"col1":[1,2,3,4,5],"col2":[6,7,8,9,10],"col3":[11,12,13,14,15]})
test

   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15

In [38]:
test.drop(columns=["col3","col2"])

   col1
0     1
1     2
2     3
3     4
4     5

In [39]:
test

   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15

In [40]:
test.at[1,"col1Ycol2"]

KeyError: 'col1Ycol2'

In [ ]:
for i in range(len(test)):
    test.at[i,"col1Ycol2"]=str(test.at[i,"col1"])+str(test.at[i,"col2"])

In [ ]:
test["conct"]=f'{test["col1"]} {test["col2"]}'

In [ ]:
test

In [ ]:
test["col1"]="COL1"

In [ ]:
test.where(test!="COL1")

In [ ]:
test.where?